In [7]:
from typing import List, Tuple
data_base: List[Tuple[str, str]] = [("Tahir", "123"), ("Saqib", "456"), ("Muneeb", "789")]
user_name:str=input("Enter User Name");
user_password:str = input("Enter UserPassword")
for row in data_base:
    user,password=row
    
    if user_name == user and user_password == password:
        print("Valid User Name And Password")
        break
else:
    print("Not Found or Invalide User Name/Password")

Not Found or Invalide User Name

In [15]:
magicsians=["Tahir","Mamood", "Khan"]
for index , name in list(enumerate(magicsians)):
    print(index, name)

0 Tahir
1 Mamood
2 Khan

In [12]:
list(range(10))
list(range(3,21,3))

[3, 6, 9, 12, 15, 18]

In [18]:
for n in range(1,110):
    print(f"{2} x {n} = {2*n}")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
2 x 11 = 22
2 x 12 = 24
2 x 13 = 26
2 x 14 = 28
2 x 15 = 30
2 x 16 = 32
2 x 17 = 34
2 x 18 = 36
2 x 19 = 38
2 x 20 = 40
2 x 21 = 42
2 x 22 = 44
2 x 23 = 46
2 x 24 = 48
2 x 25 = 50
2 x 26 = 52
2 x 27 = 54
2 x 28 = 56
2 x 29 = 58
2 x 30 = 60
2 x 31 = 62
2 x 32 = 64
2 x 33 = 66
2 x 34 = 68
2 x 35 = 70
2 x 36 = 72
2 x 37 = 74
2 x 38 = 76
2 x 39 = 78
2 x 40 = 80
2 x 41 = 82
2 x 42 = 84
2 x 43 = 86
2 x 44 = 88
2 x 45 = 90
2 x 46 = 92
2 x 47 = 94
2 x 48 = 96
2 x 49 = 98
2 x 50 = 100
2 x 51 = 102
2 x 52 = 104
2 x 53 = 106
2 x 54 = 108
2 x 55 = 110
2 x 56 = 112
2 x 57 = 114
2 x 58 = 116
2 x 59 = 118
2 x 60 = 120
2 x 61 = 122
2 x 62 = 124
2 x 63 = 126
2 x 64 = 128
2 x 65 = 130
2 x 66 = 132
2 x 67 = 134
2 x 68 = 136
2 x 69 = 138
2 x 70 = 140
2 x 71 = 142
2 x 72 = 144
2 x 73 = 146
2 x 74 = 148
2 x 75 = 150
2 x 76 = 152
2 x 77 = 154
2 x 78 = 156
2 x 79 = 158
2 x 80 = 160
2 x 81 = 162
2 x 82 = 164
2 x 83 = 166
2 x 84 = 168
2 x 85 = 170
2 x 86 = 172
2 x 87 = 174
2 x 88 = 176
2 x 89 = 178
2 x 90 = 180
2 x 91 = 182
2 x 92 = 184
2 x 93 = 186
2 x 94 = 188
2 x 95 = 190
2 x 96 = 192
2 x 97 = 194
2 x 98 = 196
2 x 99 = 198
2 x 100 = 200
2 x 101 = 202
2 x 102 = 204
2 x 103 = 206
2 x 104 = 208
2 x 105 = 210
2 x 106 = 212
2 x 107 = 214
2 x 108 = 216
2 x 109 = 218

In [19]:
squares:list[int]= []
for value in range(1,11):
    squre = value**2;
    squares.append(squre)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [20]:
[i**2 for i in range(0,11)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]