In [1]:
name:str="tahir";
f_name:str="imam";
age:int=30;
card:str=f"""

PIAIC Student Card
Student Name:{name}
Father Name:{f_name}
age:{age}
Total {2+9+87}

"""
print(card)

PIAIC Student Card
Student Name:tahir
Father Name:imam
age:30
Total 98

In [2]:
f"""
Student Name={{name}}
"""

'\nStudent Name={name}\n'

In [9]:
name:str="tahir";
f_name:str="imam";
education:str="Masters in Commerce"
age:int=30;

card :str=f"""
PIAIC Student Card
Student Name={name}
Father Name={f_name}
Degree={education}
Ag={age}
"""
print(card)

PIAIC Student Card
Student Name=tahir
Father Name=imam
Degree=Masters in Commerce
Ag=30

In [10]:
name:str="tahir";
f_name:str="imam";
education:str="Masters in Commerce"
age:int=30;

card :str=f"""
PIAIC Student Card
Student Name=%s
Father Name=%s
Degree=%s
Ag=%d
"""%(name,f_name,education,age)
print(card)

PIAIC Student Card
Student Name=tahir
Father Name=imam
Degree=Masters in Commerce
Ag=30

In [27]:
name:str="tahir"
fname:str="imam"
education:str="Masters in Commerce"
age:int=30

card :str="""
PIAIC Student Card
Student Name:{}
Father Name:{}
Degree:{}
Age:{}
""".format(f_name,name,age,education)
print(card)

PIAIC Student Card
Student Name:imam
Father Name:tahir
Degree:30
Age:Masters in Commerce

In [12]:
name:str="Muhammad ali johar"
print(name.capitalize())
print(name.title())
print(name.lower())

Muhammad ali johar
Muhammad Ali Johar
muhammad ali johar

In [15]:
a=7
b=6
"pakistan value a={} and value of b={}".format(a,b)

'pakistan value a=7 and value of b=6'

In [16]:
a=10
b=15
"From the value given above a={} and b={}".format(a,b)

'From the value given above a=10 and b=15'

In [28]:
name:str="tahir"
fname:str="imam"
education:str="Masters in Commerce"
age:int=30

card :str="""
PIAIC Student Card
Student Name:{a}
Father Name:{b}
Degree:{c}
Age:{d}
""".format(b=f_name,a=name,d=age,c=education)
print(card)

PIAIC Student Card
Student Name:tahir
Father Name:imam
Degree:Masters in Commerce
Age:30

In [3]:
sudent_data:str="""
print("My Name is Tahir")
a=6
b=8
print(a+b)
"""
exec(sudent_data)

My Name is Tahir
14

In [4]:
import re
name:str="    Tahir         Mahmood   "
display(name)
name1:str=re.sub(' {2,100} ',' ',name)
display(name1)

'    Tahir         Mahmood   '

' Tahir Mahmood '

In [48]:
name:str="muhammad qasim"
print(name.title())
print(name.upper())
print(name.count)

Muhammad Qasim
MUHAMMAD QASIM
<built-in method count of str object at 0x00000248E5328CF0>

In [3]:
print(6+7+8)

21

In [4]:
print(6+7+8)

21

In [9]:
a=7;
b=8;
"value of a is = {} and value of b is= {}".format(a,b)

'value of a is = 7 and value of b is= 8'

In [6]:
studnet_data:str="""
print("I love Python")
a:int=7
b:int=8
print(a+b)
"""
exec(studnet_data)

I love Python
15

In [8]:
name:str="     Tahir            "
display(name.lstrip())

'Tahir            '

In [14]:
import re
name:str="     Tahir  Mahmod          "
display(name)
name1:str=re.sub(" {2,100}" , " ", name)
display(name1)

'     Tahir  Mahmod          '

' Tahir Mahmod '

In [ ]:
name:str="     Tahir Mahmood  "

In [16]:
url:str="http//:www.google.com"
url.removeprefix("http//:")

'www.google.com'